.coins {
  width: 100%;
  padding: 5px 15px;
  min-height: 100vh;
  box-sizing: border-box;
  transition: 0.5s;
  overflow: auto;
  margin-bottom: 10px;
}
.coins::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: rgb(97, 97, 97);
}
.coins::-webkit-scrollbar-thumb {
  background: rgb(63, 146, 255);
  border-radius: 8px;
}
.coins::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.2);
}
.coins::-webkit-scrollbar-thumb:active {
  background-color: white;
}
h2 {
  padding: 15px;
}

.row__header > span {
  background: rgba(0, 110, 255, 0.377);
  padding: 4px 6px;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.row__header:hover {
  background: inherit;
}

.coins__pagination {
  margin: 20px auto 20px auto;
  display: flex;
  width: fit-content;
}

.coins__pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 5px;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.coins__pagination-btn:hover {
  background-color: rgba(0, 110, 255, 0.377);
  color: white;
}
.coins__pagination-btn.active {
  background: rgba(0, 110, 255, 0.377);
  padding: 7px;
  color: white;
}
